#!/bin/bash

# Make sure we're not confused by old, incompletely-shutdown httpd
# context after restarting the container.  httpd won't start correctly
# if it thinks it is already running.
rm -rf /run/httpd/* /tmp/httpd*

echo "SSMDBENDPOINT: ${ssmdbparam}"
secret=$(aws  ssm get-parameter --name "${ssmdbparam}/secret/name" --output text --query Parameter.Value)
# This gets us all the variables from the secret
vars=$(aws secretsmanager get-secret-value --secret-id $secret --output text --query SecretString | jq -r 'to_entries[] | "export \(.key)='\''\(.value)'\''"')
eval $vars
exec /usr/sbin/apachectl -DFOREGROUND