#!/bin/bash

# Make sure we're not confused by old, incompletely-shutdown httpd
# context after restarting the container.  httpd won't start correctly
# if it thinks it is already running.
rm -rf /run/httpd/* /tmp/httpd*

echo "SSMDBENDPOINT: ${ssmdbparam}"
aws ssm get-parameter --name "/cloudformation/applications/dev/sample-app-rds/rds-endpoint" --output text --query Parameter.Value
aws ssm get-parameter --name "/cloudformation/applications/dev/sample-app-rds/rds-port" --output text --query Parameter.Value
secret=$(aws --profile dev ssm get-parameter --name "/cloudformation/applications/dev/sample-app-rds/secret/name" --output text --query Parameter.Value)
aws secretsmanager get-secret-value --secret-id $secret --output json
exec /usr/sbin/apachectl -DFOREGROUND